.converter-history{
    height:100%;
    background-color: #363A3E;
    display:flex;
    flex-direction: column;

}
.converter-history .pickar-logo-white{
height: 35px;
flex:0.3;
}

.converter-history .navigate-back{
    
    flex:0.2
}


.converter-history .content{
    /* display: flex; */
margin:0 0px;    
align-items: center;    
flex:1

}

.converter-history .content.row.container .content-div{
    /* display: flex; */
    align-items: center;
    padding-top:3.5 rem;
    color: #363A3E;
  font-size: 16px;
  line-height: 19px;
}
@media only screen and (max-width: 700px) {
.converter-history .content{

    justify-content: center;
     margin: 0 1.5rem; 
}

}